<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--<add name="Dial4JobzEntities" connectionString="metadata=res://*/Models.Dial4Jobz.csdl|res://*/Models.Dial4Jobz.ssdl|res://*/Models.Dial4Jobz.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Dial4Jobz;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Dial4JobzEntities" connectionString="metadata=res://*/Models.Dial4Jobz.csdl|res://*/Models.Dial4Jobz.ssdl|res://*/Models.Dial4Jobz.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=D:\wfh Tasks\Akbar\Verification Code\Dial4Jobz\Dial4Jobz\Dial4Jobz.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />-->
    <add name="Dial4JobzEntities" connectionString="metadata=res://*/Models.Dial4Jobz.csdl|res://*/Models.Dial4Jobz.ssdl|res://*/Models.Dial4Jobz.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dial4jobz.db.9451034.hostedresource.com;Initial Catalog=dial4jobz;User ID=dial4jobz;Password=Sairam9;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Dial4JobzEntities" connectionString="metadata=res://*/Models.Dial4Jobz.csdl|res://*/Models.Dial4Jobz.ssdl|res://*/Models.Dial4Jobz.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=162.222.225.88;Initial Catalog=sethuraman2_dial4jobz;User ID=Sethuraman2_Shalini;Password=dial4jobz;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="EmailEnabled" value="false" />
    <add key="ApplicationURL" value="http://localhost:49951" />
    <!--<add key="SiteURL" value="http://localhost:49951" />
    <add key="SiteFullURL" value="http://localhost:49951" />-->
    <add key="SiteURL" value="http://www.dial4jobz.info" />
    <add key="SiteFullURL" value="http://www.dial4jobz.info" />
  </appSettings>
  <!--<location allowOverride="false"></location>-->
  <system.web>
    <!--<trust level="Medium" />-->
    <!--<securityPolicy>
      <trustLevel name="Medium"  policyFile="web_mediumtrust.config"/>
    </securityPolicy>-->
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=dial4jobz.db.9451034.hostedresource.com" cookieless="false" timeout="20" />-->
    <sessionState mode="InProc" stateConnectionString="tcpip=162.222.225.88" cookieless="false" timeout="20" />
    <machineKey validationKey="5F1D2EDD59CF1FB28E430AE441E937B26817B3DF6F66AB119FF1700F45703A7BB3846AA1D21944E91864519F8C5A77C650DD9CD21D7FB2470CA6111FB1C77BB2" decryptionKey="BE2EB30CCA93C59DAA98918A2F25E4897C652300F144BC37C5F772048FB8FED1" validation="SHA1" decryption="AES" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--For Payment Internet Banking-->
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <!--2880-->
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="UserMembershipProvider">
      <providers>
        <clear />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />-->
        <add name="UserMembershipProvider" type="Dial4Jobz.Models.UserMembershipProvider" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.10.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>