<html>
<body>
    <div dir="ltr">

     <div>
           <img src="http://www.dial4jobz.in/Content/Images/logo_with_number.jpg" width="200px" height="75px" alt="Dial4Jobz Logo"/>
     </div><br />
    
        <div style="font-family:Calibri; font-size: 16px; line-height:1.5">
            Dear <b>[CONTACTPERSON]</b><br /><br />
                Thanks for Your Payment...
                We have received &nbsp;<b>Rs.[AMOUNT]</b> through <b>[PAYMENT_MODE].</b>             
            </div>  <br/>
            <div style="font-family:Calibri; font-size: 15px; line-height:1.5">
                    Name: <b>[NAME]</b><br /> 
                    ID: <b>[ID]</b><br />
                    Order No: <b>[ORDERNO]</b><br /> 
                    Invoice No: <b>[INVOICE_NO]</b><br />
                    Email-Id: <b>[EMAILID]</b><br />
                    Mobile Number: <b>[MOBILE]</b><br />
                    Plan Subscribed : <b>[PLAN]</b><br />
                    Activated On: <b>[DATE]</b><br /><br />
                    Amount: <b>[AMOUNT]</b><br />
                    <!--[DISCOUNT_AMOUNT]<br />-->
                    Delivery of the report in <b>[DELIVERYDAYS]</b> working days.&nbsp;<br /><br />
                    Subscribed by<b> [SUBSCRIBED_BY]</b><br />
   
                <b>We will start processing Background check if all required documents is submitted by you.&nbsp;</b><br /><br />
            Feel free to call us at 044 - 44455566 to for any assitance (between <span data-term="goog_1554177518" class="aBn" tabindex="0"><span class="aQJ">9.30AM to 6.00PM</span></span>).
                </div>
            <br />
           <div style="font-family: Calibri; font-size: 14px">
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri"><br />Best regards,</span><br />
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Dial4jobz</span><br />
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">
                <a target="_blank" href="http://www.dial4jobz.com/">www.dial4jobz.com</a></span>
            </div>
             <span style="font-family: Calibri; color: black; font-size: 14px">
                <br />
                <b>Important Notice for Candidates</b><br />
                The Information on Vacancy & Employer Shared/ sent/ displayed to you is as communicated
                or furnished by the Employer over telephone/ Internet and it shall be the sole responsibility
                of the Candidate before attending Interview or joining the Employer to check, authenticate
                and verify the information/ response received . Dial4Jobz India Private Ltd is not
                responsible for false information given by the Employer.<br />
                <br />
            </span>
          
        <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:gray;FONT-SIZE:10px">
        <b>::Disclaimer::</b><br/>
            By your positive acts of registering on <a href="http://www.dial4jobz.com">Dial4Jobz</a>, you agree to be bound by the <a href="http://www.dial4jobz.in/home/terms">terms and conditions</a> &<a href="http://www.dial4jobz.in/home/Privacy"> privacy policy</a> and if you do not agree with any of the provisions of these policies, you should not access or use <a href="http://www.dial4jobz.com/">Dial4Jobz.</a> If you did not create this account and wish to delete it please send an e-mail to <a href="mailto:smo@dial4jobz.com">smo@dial4jobz.com</a>.In case you do not wish to be registered with <a href="http://www.dial4jobz.com/">Dial4Jobz</a> any longer you can <a href="http://www.dial4jobz.in">delete this account</a> yourself. 
                (Login details are required to delete the account)
        </span>
        <div>
            <br/>
        </div>        
    </div>
</body>
</html>
