<html>
<body>
    <div dir="ltr">

        <div>
            <img src="http://www.dial4jobz.in/Content/Images/logo_with_number.jpg" width="200px" height="75px" alt=" " />
        </div><br />
           
        <div style="font-family:Calibri; font-size: 16px; line-height:1.5">
            Dear <b>[CONTACTPERSON]</b>
            <br />
            <br />
            Thanks for Your Payment...
            We have received &nbsp;<b>Rs.[AMOUNT]</b> through <b>[PAYMENT_MODE].</b>
        </div><br />
        <div style="font-family:Calibri; font-size: 15px; line-height:1.5">
            Candidate Name:&nbsp;<b>[NAME]</b><br />
            Candidate ID:&nbsp;<b>[ID]</b><br />
            Order No:&nbsp;<b>[ORDERNO]</b><br />
            Invoice No: &nbsp;<b>[INVOICE_NO]</b><br />
            Email-Id:&nbsp;<b>[EMAILID]</b><br />
            Mobile Number:&nbsp;<b>[MOBILE]</b> <br />
            Plan Name:&nbsp;<b>[PLAN]</b><br />
            Activated On:&nbsp;<b>[DATE]</b><br />
            Validity:&nbsp;From&nbsp;<b>[FROMDATE]</b>&nbsp;to&nbsp;<b>[TODATE]</b><br />
            <br />Subscribed by<b> [SUBSCRIBED_BY]</b>.<br />
        </div>
        <div style="font-size: 15px; font-family: Calibri">
            <br />
                <b>Your plan is Activated</b><br />
        </div>
         <ol style="font-family: Calibri; font-size: 15px">
            <li style="margin-left: 15px"><font face="Calibri">You will be intimated by SMS/email as & when Suitable Vacancy is submitted in Dial4Jobz.com either on line or over phone & your Resume will be sent to those Employers also if you prefer.</font><br/>
            </li>
            <li style="margin-left: 15px"><font face="Calibri">You will get Job Alert of Vacancies  for <b>[VALIDITY]</b> Days from the date of activation</font></li>
            <li style="margin-left: 15px"> Your Resume along with the contact details  will be displayed for all employers looking for suitable candidates.</li>
            <li style="margin-left: 15px">Mobile number & email id will be displayed in result page of candidates search itself when employer searches for their vacancy.</li>
            <li style="margin-left: 15px">Your Resume will be on top of all result pages of searches.</li>
            <li>Employers can see your contact details in the resume free of cost.</li>
          </ol>
        <div style="font-size: 14px; font-family: Calibri">
            We wish you get your Dream Job at the earliest.
        </div>
        <div>
            <div style="font-family: Calibri; font-size: 14px">
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri"><br />Best regards,</span><br />
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Dial4jobz</span><br />
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">
                <a target="_blank" href="http://www.dial4jobz.com/">www.dial4jobz.com</a></span>
            </div>
            <span style="font-family: Calibri; color: black; font-size: 14px">
                <br />
                <b>Important Notice for Candidates</b><br />
                The Information on Vacancy & Employer Shared/ sent/ displayed to you is as communicated
                or furnished by the Employer over telephone/ Internet and it shall be the sole responsibility
                of the Candidate before attending Interview or joining the Employer to check, authenticate
                and verify the information/ response received . Dial4Jobz India Private Ltd is not
                responsible for false information given by the Employer.<br />
                <br />
            </span>
          
        <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:gray;FONT-SIZE:10px">
        <b>::Disclaimer::</b><br/>
            By your positive acts of registering on <a href="http://www.dial4jobz.com/">Dial4Jobz</a>, you agree to be bound by the <a href="../Home/Terms">terms and conditions</a> &<a href="../Home/Privacy"> privacy policy</a> and if you do not agree with any of the provisions of these policies, you should not access or use <a href="http://www.dial4jobz.com/">Dial4Jobz.</a> If you did not create this account and wish to delete it please send an e-mail to <a href="mailto:smo@dial4jobz.com">smo@dial4jobz.com</a>.In case you do not wish to be registered with <a href="http://www.dial4jobz.com/">Dial4Jobz</a> any longer you can <a href="LINK">delete this account</a> yourself. 
                (Login details are required to delete the account)
        </span>
        <br clear="all" >
        <div>
            <br />
        </div>        
    </div>
    </div>
</body>
</html>
