<html>
<head>
    <title></title>
</head>
<body>
    <div dir="ltr">
        <div>
             <img src="http://www.dial4jobz.in/Content/Images/logo_with_number.jpg" width="200px" height="75px" alt=" " /><br /><br />
        </div>

     <div style="font-family: Calibri; font-size:16px; line-height:1.5">
              
            Dear&nbsp;<b>[CONTACTPERSON]</b><br /><br />      
            Thanks for Subscribing&nbsp;<b>[PLAN]...</b> On receipt of <b>Rs.[AMOUNT]</b> Your Plan will be activated within <b>1</b> Working Day.
            </div><br />
       <div style="font-family: Calibri; font-size:15px">
         You can assign your vacancy for resume alert You will be intimated by SMS/email as & when Suitable Candidate submits his/her resume either online or over phone & your Vacancy will be sent to those  suitable JobSeekers.<br />
         You will get Resume alert upto <b>[RESUMES_COUNT]</b> candidates or for <b>[DURATION] Days</b> from the date of Assigning Vacancy for Resume Alert (whichever is earlier).<br /><br />
         </div>
       
        <div style="font-family: Calibri; font-size:15px; line-height:1.5">
                Employer Name: <b>[NAME]</b><br />
                Employer Id: <b>[ID]</b><br />
                Order No: <b>[ORDERNO]</b><br />
                Email-Id: <b>[EMAILID]</b><br />
                Mobile No: <b>[MOBILE]</b><br />
                Plan Subscribed: <b>[PLAN]</b><br /> 
                Subscribed Date: <b>[DATE]</b><br />
                Amount Rs: <b>[ACTUAL_AMOUNT]</b><b>[SPECIAL_DISCOUNT]</b><b>[DISCOUNT_AMOUNT]</b><b>[DISCOUNT_TEXT]</b><br />
                No.of Vacancies: <b>[VACANCIES]</b><br />
                Duration of Plan: <b>[DURATION] days</b><br />
                <br />
                Subscribed by<b> [SUBSCRIBED_BY]</b>.<br />
            </div>
       <div style="font-family: Calibri; font-size:15px">
            <b> [COMBO_TEXT]</b> <br />
        </div>
         <div style="font-family: Calibri; font-size:15px">
             <b>You can pay by Credit / Debit Card/Internet Banking <a href='[PAYMENT_LINK]'>[LINK_NAME]</a></b>
        </div><br />

           <div style="font-family:Calibri; font-size:14px">Moreover you can deposit the amount or transfer through internet banking to below Dial4Jobz IPL account.
Kindly fill all the detail with below format and mails us after depositing or transferring the amount. </div><br />
       <div style="font-family: Calibri; font-size:16px">
                <table border="0" cellspacing="0" cellpadding="0" width="467" style="font-family:arial,sans-serif;font-size:14px;color:rgb(34,34,34);width:350pt;border-collapse:collapse">
       <tbody>
       <tr>
        <td width="220" nowrap="" valign="bottom" style="width:165pt;border:1pt solid windowtext;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">Account Holder</span><span style="font-family:Calibri,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:solid solid solid none;border-top-color:windowtext;border-right-color:windowtext;border-bottom-color:windowtext;border-top-width:1pt;border-right-width:1pt;border-bottom-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">Dial4Jobz India Private Ltd</span><span style="font-family:Calibri,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">Bank</span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal">ICICI Bank Ltd<span style="font-family:Calibri,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">Account Number</span><span style="font-family:Calibri,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal">603305017985<span style="font-family:Calibri,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">IFSC Code</span><span style="font-family:Calibri,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal">ICIC0006033<span style="font-family:Calibri,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">Account Type</span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal">Current Account</p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Calibri,sans-serif">BRANCH</span><span style="font-family:Calibri,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><font face="Calibri, sans-serif">36,II Avenue,Besant Nagar,Chennai - 600090</font><br></p>
       </td></tr><tr>
       <td width="220" nowrap="" valign="bottom" style="width:165pt;padding:0in 5.4pt"></td><td width="247" nowrap="" valign="bottom" style="width:185pt;padding:0in 5.4pt;min-height:15pt">
       </td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border:1pt solid windowtext;padding:0in 5.4pt"><p class="MsoNormal"><span style="font-family:Arial,sans-serif">order No.</span><span style="font-family:Arial,sans-serif"></span></p>
        </td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:solid solid solid none;border-top-color:windowtext;border-right-color:windowtext;border-bottom-color:windowtext;border-top-width:1pt;border-right-width:1pt;border-bottom-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">AMOUNT</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">DEPOSIT DATE</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">CHEQUE / CASH / FUND TRANSFER</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">BANK NAME</span><span style="font-family:Arial,sans-serif;color:rgb(31,73,125)">&nbsp;&amp; Branch</span><span style="font-family:Arial,sans-serif"></span></p></td>
        <td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;padding:0in 5.4pt"></td>
        <td width="247" nowrap="" valign="bottom" style="width:185pt;padding:0in 5.4pt;min-height:15pt"></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border:1pt solid windowtext;padding:0in 5.4pt"><p class="MsoNormal">
        <span style="font-family:Arial,sans-serif">COMPANY NAME</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:solid solid solid none;border-top-color:windowtext;border-right-color:windowtext;border-bottom-color:windowtext;border-top-width:1pt;border-right-width:1pt;border-bottom-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">CONTACT PERSON</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">ADDRESS</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span><span style="font-family:Arial,sans-serif"></span></p></td></tr><tr><td width="220" nowrap="" valign="bottom" style="width:165pt;border-style:none solid solid;border-right-color:windowtext;border-bottom-color:windowtext;border-left-color:windowtext;border-right-width:1pt;border-bottom-width:1pt;border-left-width:1pt;padding:0in 5.4pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">PHONE</span><span style="font-family:Arial,sans-serif"></span></p></td><td width="247" nowrap="" valign="bottom" style="width:185pt;border-style:none solid solid none;border-bottom-color:windowtext;border-bottom-width:1pt;border-right-color:windowtext;border-right-width:1pt;padding:0in 5.4pt;min-height:15pt">
        <p class="MsoNormal"><span style="font-family:Arial,sans-serif">&nbsp;</span></p></td></tr></tbody>

</table><br />
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Or
                for other Payment option Kindly Visit the site or feel free to call at 044 - 44455566
                ( Between <span data-term="goog_1835253502" class="aBn" tabindex="0"><span class="aQJ">
                    9.30 AM to 6.00 PM</span></span>)</span><br />
        </div>
        <div style="font-family: Calibri; font-size: 14px">
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">
                <br />
            </span>
        </div>        
        <div style="font-family: Calibri; font-size: 14px">
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Best regards,</span><br />
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Dial4jobz</span><br />
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">
            <a target="_blank" href="http://www.dial4jobz.com/">www.dial4jobz.com</a></span>
            </div>
          <span style="FONT-FAMILY:'Arial','sans-serif';color:black;font-size:14px">
            <br /><b>Important Notice for Employers</b><br />
            The Information on candidates Shared/ sent/ displayed to you is as communicated or furnished by the Candidate over telephone/ Internet and it shall be the sole responsibility of the Employer before appointing them to check, authenticate and verify the information/ response received . Dial4Jobz India Private Ltd is not responsible for false information given by the candidate.<br /><br/>
          </span>
          
        <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:gray;FONT-SIZE:10px">
      <b>::Disclaimer::</b><br/>
            By your positive acts of registering on <a href="http://www.dial4jobz.com">Dial4Jobz</a>, you agree to be bound by the <a href="http://www.dial4jobz.in/home/terms">terms and conditions</a> &<a href="http://www.dial4jobz.in/home/Privacy"> privacy policy</a> and if you do not agree with any of the provisions of these policies, you should not access or use <a href="http://www.dial4jobz.com/">Dial4Jobz.</a> If you did not create this account and wish to delete it please send an e-mail to <a href="mailto:smo@dial4jobz.com">smo@dial4jobz.com</a>.In case you do not wish to be registered with <a href="http://www.dial4jobz.com/">Dial4Jobz</a> any longer you can <a href="http://www.dial4jobz.in">delete this account</a> yourself. 
                (Login details are required to delete the account)
        </span>
        <br clear="all">
        <div>
            <br>
        </div>        
        
    </div>
</body>
</html>
