<html>
<head>
    <title></title>
</head>
<body>
    <div dir="ltr">
     <div>
              <img src="http://www.dial4jobz.in/Content/Images/logo_with_number.jpg" width="200px" height="75px"/><br />
        </div><br />
       
        <div style="font-size:16px; font-family:Calibri;line-height:1.5">
            Dear&nbsp;<b>[NAME]</b><br /><br />
                Thanks for Your Payment...         
                We have received &nbsp;<b>Rs.[AMOUNT]</b> through <b>[PAYMENT_MODE].</b> 
        </div><br />   
      
        <div style="font-size:15px; font-family:Calibri;line-height:1.5">
                Candidate Name: <b>[NAME]</b> <br />
                
                Candidate ID:&nbsp;<b>[ID]</b> <br />

                Order No:&nbsp;<b>[ORDERNO]</b> <br />

                Invoice No: &nbsp;<b>[INVOICE_NO]</b><br />
                
                Email-id:&nbsp;<b>[EMAILID]</b> <br />
            
                Mobile Number:&nbsp;<b>[MOBILE]</b> <br />
           
                Plan Name :&nbsp;<b>[PLAN]</b> <br />
                 
                Activated On:&nbsp;<b>[DATE]</b><br />

                Amount Rs:&nbsp;<b>[AMOUNT]</b><br /><br />

                Subscribed by<b> [SUBSCRIBED_BY]</b>.<br /> <br />
            
        </div>
        <div style="font-size: 14px; font-family: Calibri">
        
        <div style="font-size: 14px; font-family: Calibri">
            Delivery of Professional resume in <b>[DELIVERYDAYS]</b> working days ...</div>
        <div style="font-size: 14px; font-family: Calibri">
            <br />
        </div>
        <div style="font-size: 14px; font-family: Calibri">
            <span style="color: rgb(80,0,80); font-family: Calibri">You will have to fill
                a form &nbsp;giving your basic details details &amp; if you have a resume you can
                attach the same..</span><br />
        </div>
        <div style="font-size: 14px; font-family: Calibri">
            <br>
        </div>
        <div style="font-size: 14px; font-family: Calibri">
            Your Resume will be developed by our experts after having detail discussion with
            you over the phone..You can expect our call any time from now..<br />
        </div>
        <div>
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">
                <br />
            </span>
        </div>
        <div>
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Best
                regards,</span></div>
        <div>
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Dial4jobz</span></div>
        <div>
            <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri"><a
                target="_blank" href="http://www.dial4jobz.com">www.dial4jobz.com</a></span></div><br />
         <span style="FONT-FAMILY: Calibri;COLOR:black;FONT-SIZE:14px">
                <b>Important Notice for Candidates</b><br />
                The Information on Vacancy & Employer Shared/ sent/ displayed to you is as communicated or furnished by the Employer over telephone/ Internet and it shall be the sole responsibility of the Candidate before attending Interview or joining the Employer to check, authenticate and verify the information/ response received . Dial4Jobz India Private Ltd is not responsible for false information given by the Employer.<br/><br/>
                </span>
                <span style="FONT-FAMILY: Calibri;COLOR:gray;FONT-SIZE:10px">
                <b>::Disclaimer::</b><br />
                By your positive acts of registering on <a href="http://www.dial4jobz.com">Dial4Jobz</a>, you agree to be bound by the <a href="../Home/Terms">terms and conditions</a> & <a href="../Home/Privacy">privacy policy </a> and if you do not agree with any of the provisions of these policies, you should not access or use <a href="http://www.dial4jobz.com">Dial4Jobz.</a> 
                If you did not create this account and wish to delete it please send an e-mail to <a href="mailto:smo@dial4jobz.com">smo@dial4jobz.com</a>. In case you do not wish to be registered with <a href="http://www.dial4jobz.com">Dial4Jobz</a> any longer you can <a href=""LINK"">delete this account</a> yourself. 
                (Login details are required to delete the account)
                </span>
        
        <br />
        
    </div>
    </div>
</body>
</html>
