<html>
<body>
    <div dir="ltr">
     <div>
             <img src="http://www.dial4jobz.in/Content/Images/logo_with_number.jpg" width="200px" height="75px"/>
        </div>
        <br />
       
         <div style="font-family: Calibri; font-size:16px; line-height:1.5">
            Dear <b>[CONTACTPERSON]</b>
                <br/><br />
                Thanks for Your Payment... We have received &nbsp;<b>Rs.[AMOUNT]</b> through <b>[PAYMENT_MODE].</b> &nbsp;
             </div><br/>
            <div style="font-family: Calibri; font-size:15px; line-height:1.5">
                Employer Name: <b>[NAME]</b> <br />
                
                Employer ID: <b>[ID]</b> <br/>

                Order No: <b>[ORDERNO]</b><br />

                Invoice No: <b>[INVOICE_NO]</b><br />
                
                Email-Id: <b>[EMAIL_ID]</b><br />

                Mobile Number: <b>[MOBILE]</b><br />

                Plan Name: <b>[PLAN]</b><br />

                Amount Rs: <b>[AMOUNT]</b><br />
            
                Validity: <b>30 Days</b><br />
                
                Duration: From <b>[FROMDATE]</b> to <b>[TODATE]</b> <br />
                <!--<p>
                    No.Of Vacancy/cies : _____</p>-->
            <br />Subscribed by<b> [SUBSCRIBED_BY]</b>.<br /> <br />
        </div>
       

          <div style="font-family: Calibri; font-size:15px">
            <div style="font-family: Calibri; font-size: 15px">
                <font face="Calibri">We will &nbsp;organise Teleconference with Suitable candidates</font>
                </div>
 
                    <br />
              
            <div style="font-family: Calibri; font-size: 15px">
                <font face="Calibri">Proceed with Face to face Interview after Teleconference
                    if needed for Selection.</font></div>
            
                    <br />
               
            <div style="font-family: Calibri; font-size: 15px">
                <font face="Calibri">The agreed fees will have to Paid on the day Candidate
                    Joins you.</font></div>
           
                    <br />
             
            <div style="font-family: Calibri; font-size: 14px">
                <div style="font-family: Calibri; font-size: 14px">
                    Best Regards,</div>
                <div style="font-family: Calibri; font-size: 14px">
                    Dial4jobz</div>
                <div style="font-family: Calibri; font-size: 14px">
                    <a target="_blank" href="http://www.dial4jobz.com/">www.dial4jobz.com</a></div>
            </div>
        </div>
       <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:black;FONT-SIZE:14px">
        <br /><b>Important Notice for Employers</b><br/>
        The Information on candidates Shared/ sent/ displayed to you is as communicated or furnished by the Candidate over telephone/ Internet and it shall be the sole responsibility of the Employer before appointing them to check, authenticate and verify the information/ response received . Dial4Jobz India Private Ltd is not responsible for false information given by the candidate.<br />
       </span>  
       <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:gray;FONT-SIZE:10px">
       <br /><b>::Disclaimer::</b><br/>
            By your positive acts of registering on <a href="http://www.dial4jobz.com">Dial4Jobz</a>, you agree to be bound by the <a href="http://www.dial4jobz.in/home/terms">terms and conditions</a> &<a href="http://www.dial4jobz.in/home/Privacy"> privacy policy</a> and if you do not agree with any of the provisions of these policies, you should not access or use <a href="http://www.dial4jobz.com/">Dial4Jobz.</a> If you did not create this account and wish to delete it please send an e-mail to <a href="mailto:smo@dial4jobz.com">smo@dial4jobz.com</a>.In case you do not wish to be registered with <a href="http://www.dial4jobz.com/">Dial4Jobz</a> any longer you can <a href="http://www.dial4jobz.in">delete this account</a> yourself. 
                (Login details are required to delete the account)
        </span>
    </div>
</body>
</html>
