<html>
<body>
    <div dir="ltr">
     <div>
             <img src="http://www.dial4jobz.in/Content/Images/logo_with_number.jpg" width="200px" height="75px" alt=" "/><br /><br />
        </div>
      
        <div style="font-family: Calibri; font-size: 16px; line-height:1.5">
       Dear <b>[NAME]</b><br /><br />
            Thanks for Your Payment...
        
            We have received &nbsp;<b>Rs.[AMOUNT]</b> through <b>[PAYMENT_MODE].</b>&nbsp;
        </div><br />
            
      
        <div style="font-family: Calibri; font-size: 15px; line-height:1.5">
            
               
                    Candidate Name: <b>[NAME]</b><br /> 
                    
                    Candidate ID: <b>[ID]</b><br />
                                   
                    Order No: <b>[ORDERNO]</b><br /> 

                    Invoice No: &nbsp;<b>[INVOICE_NO]</b><br />
                    
                    Email-Id: <b>[EMAIL_ID]</b><br />
                    
                    Mobile Number: <b>[MOBILE]</b><br />
                
                    Plan Name: <b>[PLAN]</b><br /> 
                    
                    Activated On: <b>[DATE]</b><br />
                    
                    Plan: <b>[PLAN]</b> (Know your Employer) - <b>[VASTYPE]</b><br />
                
                    Normal time taken to give Report: <b>[DELIVERYDAYS]</b> working days <br />
                   
          
                <br />
                Subscribed by<b> [SUBSCRIBED_BY]</b>.<br /> <br />
            
            <div style="font-family: Calibri; font-size: 15px">
                After getting the Details of the Employer&nbsp;Our panel of consultants will discuss with 2 Employees or Ex-Employees
                        of the referred company (Wherever &amp; whatever the size of the company is)&nbsp;
       <br />  <br />
                    We will get back to you with report of the Employer.
                <br />
          
         <br />
                    PS: For any reason if we are unable to get Information for the Employer referred
                    the Fee collected will be refunded.<br />
            </div>
         <br />
           <div style="font-family: Calibri; font-size: 14px">
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri"><br />Best regards,</span><br />
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">Dial4jobz</span><br />
                <span style="font-size: 10pt; color: rgb(80,0,80); font-family: Calibri">
                <a target="_blank" href="http://www.dial4jobz.com/">www.dial4jobz.com</a></span>
            </div>
             <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:black;FONT-SIZE:13px">
        <b>Important Notice for Employers</b><br/>
        The Information on candidates Shared/ sent/ displayed to you is as communicated or furnished by the Candidate over telephone/ Internet and it shall be the sole responsibility of the Employer before appointing them to check, authenticate and verify the information/ response received . Dial4Jobz India Private Ltd is not responsible for false information given by the candidate.<br /><br />
       </span>  
       <span style="FONT-FAMILY:'Arial','sans-serif';COLOR:gray;FONT-SIZE:10px">
       <b>::Disclaimer::</b><br/>
           By your positive acts of registering on <a href="http://www.dial4jobz.com">dial4jobz.com</a>, you agree to be bound by the <a href=""LINK"">terms and conditions</a> & <a href=""LINK"">privacy policy </a> and if you do not agree with any of the provisions of these policies, you should not access or use <a href="http://www.dial4jobz.com">
           Dial4jobz.com</a>.If you did not create this account and wish to delete it please send an e-mail to <a href="mailto:smc@dial4jobz.com">smc@dial4jobz.com</a>. In case you do not wish to be registered with <a href="http://www.dial4jobz.com">dial4jobz.com</a> any longer you can<a href=""LINK"">delete this account</a>. 
           (Login details are required to delete the account)
       </span>
       </div>        
        <br />        
    </div>
</body>
</html>
