<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <p style='margin-left: 6.75pt;'><span style='font-family: Verdana; font-size: 11pt'><b><font>Dear </font>
    <font size='3' face='Times New Roman'>[NAME]</font> , </b></span></p>
    <p  style='margin-left: 6.75pt;'><font face='Symbol'><span style='font-family: Verdana; font-size: 11pt'><font>Greetings</font>
    <font>from</font> <font>Dial4Jobz, India’s</font> <font>1 <sup>st</sup> new-age interactive job portal. </font></span></font></p>
    <p style='margin-left: 6.75pt;'><span style='font-family: Verdana; font-size: 11pt'><font face='Tahoma'><span style='font-family: Verdana; font-size: 11pt'>
    <font face='Tahoma'>Reference to your call, the list of vacancies suiting your resume is given below.</font> </span></font></span></p><br />
   
    <table width='82%' cellspacing='0' cellpadding='0' border='1' style='border-bottom: medium none; border-left: medium none; width: 82.6%; border-collapse: collapse; margin-left: 6.75pt;
    border-top: medium none; margin-right: 6.75pt; border-right: medium none'>
    <tbody><tr><td width='100%' style='border-bottom: maroon 4.5pt double; border-left: maroon 4.5pt double;
    padding-bottom: 0in; padding-left: 0in; width: 100%; padding-right: 0in; border-top: maroon 4.5pt double;
    border-right: maroon 4.5pt double; padding-top: 0in'>
    <p ><b><span style='color: blue'>Description : </span></b>[DESCRIPTION]</p>
    <p ><b><font color='blue'>Position : </font></b>[POSITION] </p>
    <p ><b><font color='blue'>Company Name : </font> </b>[COMPANY_NAME] </p> 
    <p ><b><font color='blue'>Industry Type : </font> </b>[INDUSTRY_TYPE]</p>
    <p ><b><span style='color: blue'>Experience Reqd : </span> </b> [EXPERIENCE]</p>
    <p><b><span style='color: blue'>Location of Posting : </span> </b> [POSTING_LOCATION]</p>
    <p><b><span style='color: blue'>Basic Qualification : </span></b> [BASIC_QUALIFICATION] </p>
    <p><b><span style='color: blue'>Post Graduation : </span> </b> [POSTGRADUATION]</p>
    <p><b><span style='color: blue'>Doctorate : </span> </b> [DOCTRATE] </p>
    <p><b><span style='color: blue'>Skills Required : </span> </b> [SKILLS] <b></p>
    <p><b><span style='color: blue'>Contact Person : </span> </b> [CONTACT_PERSON]</p>
    <p><b><span style='color: blue'>Mobile Number : </span> </b> [MOBILE]</p>
    <p><b><span style='color: blue'>Landline Number : </span> </b> [LANDLINE]</p>
    <p><b><span style='color: blue'>Email : </span></b> [EMAIL]</p>
    <p><b><span style='color: blue'>Website : </span> </b> [WEBSITE]</p>
    </td></tr></tbody></table><br />

    <p style='margin-left: 6.75pt;'>You may contact the company directly for more information.</p>
    <p style='margin-left: 6.75pt;'>Please call us at <b>(044) 444 555 66</b> for any clarifications. For more jobs visit <b>www.dial4jobz.com </b></p>
    <p style='margin-left: 6.75pt;'>Best wishes<br /><b>Dial4Jobz</b></p>    
    <p style='margin-left: 6.75pt;'><font>Disclaimer:</font></p>
    <p style='margin-left: 6.75pt;'><font>You have received this mail because your e-mail ID is registered with Dial4jobz.com. 
    This is a system-generated email, please don't reply to this message. The jobs sent in this mail have been posted by the clients of Dial4jobz.com.  
    Dial4Jobz IPL has taken all reasonable steps to ensure that the information in this mailer is authentic. Users are advised to research bonafides of advertisers independently. 
    Dial4Jobz IPL shall not have any responsibility in this  regard. We recommend that you visit our Terms & Conditions and the Security Advice for more comprehensive  information.</font></p>
    

    <p style='margin-left: 6.75pt;'><span style='font-family: Verdana; font-size: 11pt'><b><font>Dear </font>
    <font size='3' face='Times New Roman'>[ORG_NAME]</font> , </b></span></p>
    <p  style='margin-left: 6.75pt;'><font face='Symbol'><span style='font-family: Verdana; font-size: 11pt'><font>Greetings</font>
    <font>from</font> <font>Dial4Jobz, India’s</font> <font>1 <sup>st</sup> new-age interactive job portal. </font></span></font></p>
    <p style='margin-left: 6.75pt;'><span style='font-family: Verdana; font-size: 11pt'><font face='Tahoma'><span style='font-family: Verdana; font-size: 11pt'>
    <font face='Tahoma'>Reference to your job - ' <font size='3' face='Times New Roman'> [POSITION] '</font> </font></span></font></span>, 
    <font face='Tahoma'>the details of the candidate matching your requirement is given below with candidate's resume attachment if available.</font></p><br />
    <table width='82%' cellspacing='0' cellpadding='0' border='1' style='border-bottom: medium none; border-left: medium none; width: 82.6%; border-collapse: collapse; margin-left: 6.75pt;
    border-top: medium none; margin-right: 6.75pt; border-right: medium none'>
    <tbody><tr><td width='100%' style='border-bottom: maroon 4.5pt double; border-left: maroon 4.5pt double;
    padding-bottom: 0in; padding-left: 0in; width: 100%; padding-right: 0in; border-top: maroon 4.5pt double;
    border-right: maroon 4.5pt double; padding-top: 0in'>
    <p ><b><span style='color: blue'>Candidate Name : </span></b>[CANDIDATENAME]</p>
    <p ><b><font color='blue'>Mobile No : </font></b>[MOBILE] <b><font color='blue'>Land Line:</font></b>[LANDLINE]</p>
    <p ><b><font color='blue'>EMail : </font> </b>[EMAIL] </p> 
    <p ><b><font color='blue'>Address : </font> </b>[ADDRESS]</p>
    <p ><b><span style='color: blue'>Basic Qualification : </span> </b> [BASICQUALIFICATION]</p>
    <p><b><span style='color: blue'>Post Graduation : </span> </b> [POSTGRADUATION]</p>
    <p><b><span style='color: blue'>Doctorate : </span></b> [DOCTRATE] </p>
    <p><b><span style='color: blue'>Experience : </span> </b> [EXP_YEARS]Years [EXP_MONTHS]Months</p>
    <p><b><span style='color: blue'>Industry : </span> </b> [INDUSTRY] </p>
    <p><b><span style='color: blue'>Function : </span> </b> [FUNCTION] <b><span style='color: blue'>Skills : </span> </b> [SKILLS] </p>
    <p><b><span style='color: blue'>Current Salary/Annum : </span> </b> [SAL_LAKHS]Laks [SAL_THOUSANDS]Thousands</p>
    <p><b><span style='color: blue'>Current Location : </span> </b> [LOCATION]</p>
    <p><b><span style='color: blue'>Present Company : </span> </b> [PRESENT_COMPANY]</p>
    <p><b><span style='color: blue'>Previous Company : </span></b> [PREVIOUS_COMPANY]</p>
    <p><b><span style='color: blue'>Languages Known : </span> </b> [LANGUAGE]</p>
    <p><b><font color='blue'>Preferences : </font> </b> [PREFERENCES]</p>
    <p><b><font color='blue'>Preferred Type : </font> </b> [PREFERRED_TYPE]</p>
    </td></tr></tbody></table><br />
    <p style='margin-left: 6.75pt;'>You can contact the candidate directly and take this forward.</p>
    <p style='margin-left: 6.75pt;'>Please call us @ <b>044 - 44455566 </b>for <font color='black'>any</font> clarifications.</p>
    <p style='margin-left: 6.75pt;'>Regards<br /><b>Dial4Jobz</b></p>
    <p style='margin-left: 6.75pt;'><b><font face='Calibri'>Important Notice for Employers </font></b></p>
    <p style='margin-left: 6.75pt;'><b><span><font face='Calibri'>The Information on candidates Shared or sent to you is
    as communicated or furnished by the them over telephone/Internet and it shall be the sole responsibility of the Employer before appointing them to
    check, authenticate and verify the information/response received . Dial4jobz is not responsible for false information given by the candidate. </font></span></b></p>
    <p style='margin-left: 6.75pt;'><font>Disclaimer:</font></p>
    <p style='margin-left: 6.75pt;'><font>This electronic message and any files attached with it are intended for the recipient(s)
    and may contain confidential and privileged information. If you are not the intended recipient, please notify the sender immediately and destroy all copies of this message
    and any attachments. Any unauthorized usage of this email is strictly prohibited.</font></p>
    <br /><br />

    <p style='margin-left: 6.75pt;'>
        <span style='font-family: Verdana; font-size: 11pt'><b><font>Dear </font>
        <font size='3' face='Times New Roman'>[ORG_NAME]</font> , </b></span>
    </p>
    <p  style='margin-left: 6.75pt;'>
        <font face='Symbol'><span style='font-family: Verdana; font-size: 11pt'><font>Greetings</font>
        <font>from</font> <font>Dial4Jobz, India’s</font> <font>1 <sup>st</sup> new-age interactive job portal. </font></span></font>
    </p>
    <p style='margin-left: 6.75pt;'>
        <span style='font-family: Verdana; font-size: 11pt'><font face='Tahoma'><span style='font-family: Verdana;
            font-size: 11pt'><font face='Tahoma'>Reference to your job - ' <font size='3' face='Times New Roman'>
                [POSITION] '</font> </font></span></font></span>, <font face='Tahoma'>
                the details of the candidate matching your requirement is given below with candidate's resume attachment if available.</font>
    </p>
    <br />
    <table width='82%' cellspacing='0' cellpadding='0' border='1' style='border-bottom: medium none;
        border-left: medium none; width: 82.6%; border-collapse: collapse; margin-left: 6.75pt;
        border-top: medium none; margin-right: 6.75pt; border-right: medium none'>
        <tbody>
            <tr>
                <td width='100%' style='border-bottom: maroon 4.5pt double; border-left: maroon 4.5pt double;
                    padding-bottom: 0in; padding-left: 0in; width: 100%; padding-right: 0in; border-top: maroon 4.5pt double;
                    border-right: maroon 4.5pt double; padding-top: 0in'>
                    <p >
                        <b><span style='color: blue'>Candidate Name : </span></b>[CANDIDATENAME]
                    </p>
                    <p >
                        <b><font color='blue'>Mobile No : </font></b>[MOBILE] <b><font color='blue'>Land Line:</font>
                        </b>[LANDLINE]
                    </p>
                    <p >
                        <b><font color='blue'>EMail : </font> </b>[EMAIL]
                    </p>
                    <p >
                        <b><font color='blue'>Address : </font> </b>[ADDRESS]
                    </p>
                    <p >
                        <b><span style='color: blue'>Basic Qualification : </span> </b> [BASICQUALIFICATION]
                    </p>
                    <p>
                        <b><span style='color: blue'>Post Graduation : </span> </b> [POSTGRADUATION]
                    </p>
                    <p>
                        <b><span style='color: blue'>Doctorate : </span></b> [DOCTRATE]
                    </p>
                    <p>
                        <span></span><b><span style='color: blue'>Experience : </span> </b> [EXP_YEARS]Years [EXP_MONTHS]Months
                    </p>
                    <p>
                        <b><span style='color: blue'>Industry : </span> </b> [INDUSTRY]
                    </p>
                    <p>
                        <b><span style='color: blue'>Function : </span> </b> [FUNCTION] 
                        <b><span style='color: blue'>Skills : </span> </b> [SKILLS]                        
                    </p>
                    <p>
                        <b><span style='color: blue'>Current Salary/Annum : </span> </b> [SAL_LAKHS]Laks [SAL_THOUSANDS]Thousands
                    </p>
                    <p>
                        <b><span style='color: blue'>Current Location : </span> </b> [LOCATION]
                    </p>
                    <p>
                        <b><span style='color: blue'>Present Company : </span> </b> [PRESENT_COMPANY]
                    </p>
                    <p>
                        <b><span style='color: blue'>Previous Company : </span></b> [PREVIOUS_COMPANY]
                    </p>
                    <p>
                        <b><span style='color: blue'>Languages Known : </span> </b> [LANGUAGE]
                    </p>
                    <p>
                        <b><font color='blue'>Preferences : </font> </b> [PREFERENCES]
                    </p>
                    <p>
                        <b><font color='blue'>Preferred Type : </font> </b> [PREFERRED_TYPE]
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <p style='margin-left: 6.75pt;'>
        You can contact the candidate directly and take this forward.</p>
    <p style='margin-left: 6.75pt;'>
        Please call us @ <b>044 - 44455566 </b>for <font color='black'>any</font> clarifications.
    </p>
    <p style='margin-left: 6.75pt;'>
        Regards
        <br />
        <b>Dial4Jobz</b>
    </p>
    <p style='margin-left: 6.75pt;'>
        <b><b><span><font face='Calibri'>Important Notice for Employers <u></u><u></u><u></u>
        </font></span></b></b>
    </p>
    <p style='margin-left: 6.75pt;'>
        <b><span><font face='Calibri'>The Information on candidates Shared or sent to you is
            <span></span>as communicated or furnished <span></span>by the them over telephone/Internet
            and it shall be the sole responsibility of the Employer before appointing them to
            check, authenticate and verify the information/response received . Dial4jobz is
            not responsible for false information given by the candidate. </font></span>
        </b><span style='font-family: 'Arial','sans-serif''><u></u><u></u></span>
    </p>
    <p style='margin-left: 6.75pt;'>
        <font>Disclaimer:</font>
    </p>
    <p style='margin-left: 6.75pt;'>
        <font>This electronic message and any files attached with it are intended for the recipient(s)
            and may contain confidential and privileged information. If you are not the intended
            recipient, please notify the sender immediately and destroy all copies of this message
            and any attachments. Any unauthorized usage of this email is strictly prohibited.</font>
    </p>
</body>
</html>
